@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@import './auth/splash-screen.css';
@import './components/panel/navbar.css';
@import './components/panel/sidebar.css';
@import './pages/dashboard/spv-dashboard.css';
@import './components/modal/index.css';
@import './components/user/modal-user.css';
@import './components/table/table.css';
@import './components/button/button.css';
@import './components/button/search.css';
@import './components/asset/asset.css';
@import './components/feedback/index.css';



@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-family-sans: 'Inter', sans-serif;
    --color-birutua: #111B4C;
    --color-birumuda: #7DA6F5;
    --color-merah: #98083D;
    --color-abutua: #1E1E1E;
    --color-abumuda:#899099;
    --color-header: #E8E8E8;
    --color-hoverdata:#DFEDFF;
    --color-success: #00921D;
    --color-warning: #FBD100;
    --color-failed: #C20000;

    --background-image-gradient: linear-gradient(to bottom right, #111B4C, #98083D);
}
@custom-variant dark (&:is(.dark *));
